@charset 'utf-8';
/*reset*/
html{ color:#333333; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ margin:0; padding:0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block; }
audio,canvas,video{ display:inline-block; *display:inline; *zoom:1; }
body,button,input,select,textarea{ font:12px/1.5 tahoma,arial,sans-serif; }
h1,h2,h3,h4,h5,h6{ font-size:1em; }
a{ text-decoration:none; }
a:active{ background-color:transparent; }
a:hover { text-decoration: underline; }
small,cite,code,em,th,i,b{ font-size:1em; font-style:normal; font-weight:500; }
input,select,textarea,button{ font-size:1em; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; }
button,input[type=button],input[type=submit]{ cursor:pointer; }
button[disabled],input[disabled]{ cursor:default; }
button::-moz-focus-inner,input::-moz-focus-inner{ border:0 none; padding:0; }
textarea{ resize:none; overflow:auto; vertical-align:top; }
table{ border-collapse:collapse; border-spacing:0; }
fieldset,img,iframe{ border:0 none; }
img{ display:inline-block; vertical-align:bottom; -ms-interpolation-mode:bicubic; }
iframe{ display:block; }
ul,ol{ list-style:none; }
li{ vertical-align:top; }
q:before,q:after{ content:''; }

/*pages*/
body { background: #f1f3f5; font-size: 14px; }
.clearfix { *zoom: 1; }
.clearfix:after { display: block; clear: both; height: 0; font-size: 0; visibility: hidden; content: ""; }
.hide { display: none; }
.wrapper { max-width: 1000px; min-width: 860px; margin-left: auto; margin-right: auto; }
header { padding: 1.2em 0; background: #E48632; box-shadow: 0 1px 2px rgba(0,0,0,.3); }
header .inner { position: relative; height: 95px; }
header .logo { float: left; width: 80px; height: 95px; background: url(../images/logo.png) no-repeat; background-image: -webkit-image-set(url(../images/logo.png) 1x,url(../images/logo@2x.png) 2x); background-size: 80px 95px; }
header .logo a { display: block; width: 80px; height: 95px; overflow: hidden; text-indent: -300px; }
header nav { float: right; }
header nav li { float: left; font-size: 16px; line-height: 94px; font-weight: bold; }
header nav li a { display: block; line-height: 94px; padding: 0 20px; font-weight: 500; color: #fff; }
header nav li a:hover { text-decoration: none; }
.content { padding: 30px 0; }
.post_wrapper { float: left; width: 75%; }
.post { -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #FFF; box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0, 0, 0, 0.05); border-radius: 4px; padding: 30px 20px 45px; border: 1px solid #ddd; line-height: 180%; }
.post p { margin: 1em 0; }
.post a { color: #005688; }
.post code { margin: 0 5px; padding: 3px; font-family: Monaco,Consolas,"Lucida Console",monospace; font-size: 80%; background-color: rgba(0, 0, 0, 0.025); border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 3px; }
.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 { line-height: 2em; }
.post h1 { font-size: 2.6em; }
.post h2 { font-size: 2em }
.post h3 { font-size: 1.8em; }
.post h4 { font-size: 1.6em; }
.post h5 { font-size: 1.4em; }
.post h6 { font-size: 1.2em; }
.post ul, .post ol { padding-left: 1.6em; }
.post ul { list-style-type: disc; }
.post ol { list-style-type: decimal; }
.post pre code { margin: 1em 0; font-size: 13px; display: block; color: #111; padding: 1em; overflow-y: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-width: 0.0625em; border-style: solid; padding: 1.4375em; border-color: #DDD; border-width: 1px; overflow-x: scroll; border-radius: 4px; background-color: rgba(241, 243, 245, 0.15); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(241, 243, 245, 0)), color-stop(100%, rgba(241, 243, 245, 0.35))); background-image: -webkit-linear-gradient(rgba(241, 243, 245, 0),rgba(241, 243, 245, 0.35)); background-image: -moz-linear-gradient(rgba(241, 243, 245, 0),rgba(241, 243, 245, 0.35)); background-image: -o-linear-gradient(rgba(241, 243, 245, 0),rgba(241, 243, 245, 0.35)); background-image: linear-gradient(rgba(241, 243, 245, 0),rgba(241, 243, 245, 0.35)); background-size: 100% 1.1875em; background-repeat: no-repeat; background-position: 0 100%; box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0, 0, 0, 0.05); font-family: Monaco,Consolas,"Lucida Console",monospace; }
.post blockquote { margin: 1em 0; padding-left: 1.6em; border-left: 0.5em solid #eee; }
.sidebar { float: left; width: 23%; margin-left: 2%; }
.sidebar a { color: #005688; }
.sidebar dl { padding: 5px 0 10px; border-bottom: 1px solid #ddd; margin-bottom: 10px; }
.sidebar dt { font-weight: bold; font-size: 1.25em; line-height: 1.25em; padding-bottom: 5px; }
.sidebar dd { line-height: 1.6em; font-size: 100%; }
.sidebar .btn { margin-bottom: 0em; font-size: 0.8125em; line-height: 1.84615em; border-width: 0em; border-style: solid; padding: 0.75em 3em; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; text-align: center; font-weight: bold; position: relative; display: inline-block; border-radius: 4px; cursor: pointer; width: auto; box-shadow: none; text-decoration: none; text-shadow: none!important; font-size: 13px; line-height: 1; box-shadow: inset 0 0 0 1px #B5C0CB,inset 0 2px 0 0 #FFF; background-color: #F1F3F5; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1))); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1)); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1)); background-image: -o-linear-gradient(rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1)); background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1)); border-color: #B5C0CB; color: #333; }
.sidebar .btn:hover { box-shadow: inset 0 0 0 1px #B5C0CB,inset 0 2px 0 0 #FFF; background-color: #E2E6EA; color: #333; }
footer { padding: 20px 0; background: #373f4a; overflow: hidden; clear: both; line-height: 1.5em; color: #fff; }
footer a { color: #fff; }
footer img { display: none; }