@charset 'utf-8';
body {
    background: ##f5f6f6;
}
body, header, nav, footer, p, ul, li {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    color: blue;
}
header, nav, footer {
    display: block;
}
header {
    height: 66px;
    background-color: #e48632;
}
footer {
    color: #FFF;
    font-weight: 200;
    line-height: 1.5em;
    padding: 1em 0;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    background: #453015;
}
footer a {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}
header, #content, footer {
    padding-left: 20px;
    padding-right: 20px;
}
header #logo {
    float: left;
    width: 50px;
    height: 60px;
    background: url(assets/grunt-logo.png) no-repeat;
    background-size: 50px 60px;
    margin-top: 3px;
}
header #mainNav {
    float: right;
}
header #mainNav li {
    float: left;
    height: 66px;
    line-height: 66px;
}
header #mainNav li a {
    font-size: 16px;
    display: block;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    text-decoration: none;
    padding: 0 10px;
}
header #mainNav li a:hover {
    background: #d67f2d;
}
.layout {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#content {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
}
#content > *:first-child {
    margin-top: 0 !important;
}
#content > *:last-child {
    margin-bottom: 0 !important;
}
#content a.absent {
    color: #CC0000;
}
#content a.anchor {
    bottom: 0;
    cursor: pointer;
    display: block;
    left: 0;
    margin-left: -30px;
    padding-left: 30px;
    position: absolute;
    top: 0;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    cursor: text;
    font-weight: bold;
    margin: 20px 0 10px;
    padding: 0;
    position: relative;
}
#content h1 .mini-icon-link, #content h2 .mini-icon-link, #content h3 .mini-icon-link, #content h4 .mini-icon-link, #content h5 .mini-icon-link, #content h6 .mini-icon-link {
    color: #000000;
    display: none;
}
#content h1:hover a.anchor, #content h2:hover a.anchor, #content h3:hover a.anchor, #content h4:hover a.anchor, #content h5:hover a.anchor, #content h6:hover a.anchor {
    line-height: 1;
    margin-left: -22px;
    padding-left: 0;
    text-decoration: none;
    top: 15%;
}
#content h1:hover a.anchor .mini-icon-link, #content h2:hover a.anchor .mini-icon-link, #content h3:hover a.anchor .mini-icon-link, #content h4:hover a.anchor .mini-icon-link, #content h5:hover a.anchor .mini-icon-link, #content h6:hover a.anchor .mini-icon-link {
    display: inline-block;
}
#content h1 tt, #content h1 code, #content h2 tt, #content h2 code, #content h3 tt, #content h3 code, #content h4 tt, #content h4 code, #content h5 tt, #content h5 code, #content h6 tt, #content h6 code {
    font-size: inherit;
}
#content h1 {
    color: #000000;
    font-size: 28px;
}
#content h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-size: 24px;
}
#content h3 {
    font-size: 18px;
}
#content h4 {
    font-size: 16px;
}
#content h5 {
    font-size: 14px;
}
#content h6 {
    color: #777777;
    font-size: 14px;
}
#content p, #content blockquote, #content ul, #content ol, #content dl, #content table, #content pre {
    margin: 15px 0;
}
#content hr {
    background: url("https://a248.e.akamai.net/assets.github.com/assets/primer/markdown/dirty-shade-350cca8f57223ebd53603021b2e670f4f319f1b7.png") repeat-x scroll 0 0 transparent;
    border: 0 none;
    color: #CCCCCC;
    height: 4px;
    padding: 0;
}
#content > h2:first-child, #content > h1:first-child, #content > h1:first-child + h2, #content > h3:first-child, #content > h4:first-child, #content > h5:first-child, #content > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}
#content a:first-child h1, #content a:first-child h2, #content a:first-child h3, #content a:first-child h4, #content a:first-child h5, #content a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}
#content h1 + p, #content h2 + p, #content h3 + p, #content h4 + p, #content h5 + p, #content h6 + p {
    margin-top: 0;
}
#content li p.first {
    display: inline-block;
}
#content ul, #content ol {
    padding-left: 30px;
}
#content ul.no-list, #content ol.no-list {
    list-style-type: none;
    padding: 0;
}
#content ul li > *:first-child, #content ol li > *:first-child {
    margin-top: 0;
}
#content ul ul, #content ul ol, #content ol ol, #content ol ul {
    margin-bottom: 0;
}
#content dl {
    padding: 0;
}
#content dl dt {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 15px 0 5px;
    padding: 0;
}
#content dl dt:first-child {
    padding: 0;
}
#content dl dt > *:first-child {
    margin-top: 0;
}
#content dl dt > *:last-child {
    margin-bottom: 0;
}
#content dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}
#content dl dd > *:first-child {
    margin-top: 0;
}
#content dl dd > *:last-child {
    margin-bottom: 0;
}
#content blockquote {
    border-left: 4px solid #DDDDDD;
    color: #777777;
    padding: 0 15px;
}
#content blockquote > *:first-child {
    margin-top: 0;
}
#content blockquote > *:last-child {
    margin-bottom: 0;
}
#content table th {
    font-weight: bold;
}
#content table th, #content table td {
    border: 1px solid #CCCCCC;
    padding: 6px 13px;
}
#content table tr {
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
}
#content table tr:nth-child(2n) {
    background-color: #F8F8F8;
}
#content img {
    max-width: 100%;
}
#content span.frame {
    display: block;
    overflow: hidden;
}
#content span.frame > span {
    border: 1px solid #DDDDDD;
    display: block;
    float: left;
    margin: 13px 0 0;
    overflow: hidden;
    padding: 7px;
    width: auto;
}
#content span.frame span img {
    display: block;
    float: left;
}
#content span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}
#content span.align-center {
    clear: both;
    display: block;
    overflow: hidden;
}
#content span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}
#content span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
#content span.align-right {
    clear: both;
    display: block;
    overflow: hidden;
}
#content span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}
#content span.align-right span img {
    margin: 0;
    text-align: right;
}
#content span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}
#content span.float-left span {
    margin: 13px 0 0;
}
#content span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}
#content span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}
#content code, #content tt {
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    border-radius: 3px 3px 3px 3px;
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
}
#content pre > code {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
    white-space: pre;
}
#content p code {
    font-size: 13px;
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    white-space: nowrap;
}
#content .highlight pre, #content pre {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
}
#content pre code, #content pre tt {
    background-color: transparent;
    border: medium none;
}